section.section--testimonials {
  text-align       : center;
  background-color : $grey-98;
  overflow         : hidden;

  p {

    &:last-of-type {
      margin-bottom : 1rem;
    }
  }

  h4 {
    margin-bottom : 0;
  }

  .slick-list {

    @media screen and (max-width : 991.98px) {
      padding-left  : 0 !important;
      padding-right : 0 !important;
    }
  }

  .testimonial {
    padding-left  : 2rem;
    padding-right : 2rem;
  }

  .container-fluid {
    padding-left  : 0;
    padding-right : 0;
    width         : 150vw;
    margin-left   : -25vw;
    position      : relative;

    @media screen and (max-width : 991.98px) {
      width       : 100vw;
      margin-left : 0;
    }

    &:before,
    &:after {
      display        : block;
      content        : "";
      position       : absolute;
      top            : 0;
      bottom         : 0;
      width          : 25vw;
      z-index        : 1000;
      pointer-events : none;

      @media screen and (max-width : 991.98px) {
        display : none;
      }
    }

    &:before {
      left       : 25vw;
      background : linear-gradient(90deg, $grey-98, transparentize($grey-98, 1));
    }

    &:after {
      right      : 25vw;
      background : linear-gradient(-90deg, $grey-98, transparentize($grey-98, 1));
    }
  }

  .slick-arrow {
    border           : 0;
    height           : 3rem;
    width            : 3rem;
    position         : absolute;
    top              : 50%;
    transform        : translateY(-50%);
    background-color : transparent;
    outline          : 0;
    z-index          : 100;

    &:hover,
    &:focus {

      &:before {
        color : $ls-light-blue;
      }
    }

    &:before {
      font-family     : 'Fontawesome';
      position        : absolute;
      top             : 0;
      left            : 0;
      height          : 3rem;
      width           : 3rem;
      display         : flex;
      align-items     : center;
      justify-content : center;
      font-size       : 2rem;
      color           : $ls-dark-blue;
      cursor          : pointer;

    }
  }

  .slick-prev {
    left : 32%;

    @media screen and (max-width : 991.98px) {
      left : 2%;
    }

    &:before {
      content : "\f104";
    }
  }

  .slick-next {
    right : 32%;

    @media screen and (max-width : 991.98px) {
      right : 2%;
    }

    &:before {
      content : "\f105";
    }
  }
}